.sort {
  background: #e4ebee;
  @include clearfix;
  border: 1px solid $grey;
  @include border-radius(5px);
  margin-bottom: 21px;
}

.sort__title {
  font-size: 14px;
  line-height: 16px;
  color: #5d656c;
  @include inlineblock(middle);
  margin-right: 11px;
}

.sort__select {
  @include inlineblock(middle);
}

.sort__left {
  float: left;
  width: 50%;

}

.sort__right {
  float: right;
  width: 50%;
  text-align: right;
  .sort__title {
    margin-right: 13px;
  }
}

.sort__view {
  @include inlineblock(middle);
}
.sort__view-list {
  @include clearfix;
}

.sort__view-item {
  float: left;
  border-left: 1px solid $grey;
  margin-left: 2px;
  padding-top: 1px;
}

.sort__view-link {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  outline: none !important;
}

.sort__view-icon {
  @include absolute-center;
}

.sort__select--wrap {
  padding-left: 20px;
  padding-top: 9px;
}


$views-map: sprite-map('icons/views/*.png', $spacing: 70px);
$items: rows, grids, lines;

@each $item in $items {
  .sort__view_#{$item} {
    .sort__view-icon {
      @include get-sprite($views-map, $item);
    }

    &:hover {
      $hover-icon: $item + '-hover';

      .sort__view-icon {
        @include get-sprite($views-map, $hover-icon);
      }
    }

    &.active {
      $hover-icon: $item + '-hover';

      .sort__view-icon {
        @include get-sprite($views-map, $hover-icon);
      }
    }
  }
}
.select2-search__field{
  display: none;
}
.select2-container--default .select2-selection--single{
  outline: none;
}
$select-tr-map: sprite-map('icons/select-tr/*.png', $spacing: 70px);

.select2-container {
  width: 143px !important;

  * {
    outline: none !important;
  }

  .select2-selection__arrow {
    b {
      @include get-sprite($select-tr-map, to-bottom);
      height: 9px !important;
      width: 13px !important;
      border: 0 none !important;
      margin: auto !important;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
    }
  }

  &.select2-container--open {
    b {
      @include get-sprite($select-tr-map, to-top);
    }
  }

  .select2-selection__rendered {
    font-size: 14px;
    @include open-sans(light);
    color: #7f7f7f;
    padding-left: 13px!important;
  }

  .select2-dropdown {
    margin-top: 2px;
    bottom: 0 none;
    @include box-shadow(0 0 5px 0 rgba(134, 134, 134, .75));
    @include border-radius(5px);
    background: #ffffff;

    .select2-results__option {
      background: #ffffff;
      font-size: 14px;
      line-height: 16px;
      @include open-sans(light);
      color: #7f7f7f;

      &.select2-results__option--highlighted {
        color: #333333 !important;
        @include open-sans(semibold);
      }
    }
  }
}