.header {
  background: #ffffff;
}

/* --------- header - top --------- */

.header__top {
  background: #fff;
  border-bottom: 2px solid #ebedef;
  padding: 25px 0 26px;
}

.socials__item {
  @include inlineblock(middle);
  margin-left: 12px;
  width: 26px;
  height: 26px;
  @include border-radius(50%);
  background: #333333;
  position: relative;

  &:first-child {
    margin-left: 0;
  }
}

//.socials__link {
//
//
//}

.socials__icon {
  @include absolute-center;
}

$socials: fb, vk, tw;
$socials-map: sprite-map('icons/socials/*.png', $spacing: 70px);

@each $social in $socials {
  .socials__item_#{$social} {
    .socials__link {
      @include get-sprite($socials-map, $social);
      display: block;
      @include absolute-center;
      &:hover {
        $icon-name: $social + '-hover';
        @include get-sprite($socials-map, $icon-name);
      }
    }
  }
}

.header__left {
  width: 50%;
  float: left;
}
.header__right {
  width: 50%;
  float: left;
  text-align: right;
}
.address {
  @include inlineblock(middle);
  margin-left: 65px;
  padding: 4px 4px;
  &:before {
    content: '';
    @include get-sprite($misc-sprite, pin);
    @include inlineblock(middle);
    margin-right: 9px;
  }
}

.phone {
  @include inlineblock(middle);
  color: $black;
  text-decoration: none;
  margin-left: 85px;
  font-size: 18px;
  @include open-sans(regular);
  &:before {
    content: '';
    @include inlineblock(middle);
    margin-right: 11px;
    @include get-sprite($misc-sprite, phone);
  }
}

/* --------- header - bottom --------- */

.header__bottom {
  background: #f4f4f4;
  padding: 21px 0 29px 0;
}

.logo {
  float: left;
  padding-top: 8px;
}

.logo__img {
  display: block;
  max-width: 250px;
}

.logo__text {
  position: absolute;
  top: 0;
  left: -9999px;
}



.menu {
  float: right;
  padding-top: 8px;

}
.menu__list{
  margin: 0;
  padding: 0;
  font-size: 0;
  padding-top: 8px;
}
.menu__link {
  font-size: 16px;
  line-height: 18px;
  color: $black;
  @include open-sans(semibold);
  .active{
    color: $orange;
  }
  &:hover {
    color: $orange;
  }
}

.menu__item {
  @include inlineblock();
  margin-left: 31px;
  padding-right: 4px;
  &:first-child {
    margin-left: 0;
  }
}
.search {
  float: left;
  margin-left: 56px;
  padding-top: 8px;
  font-size: 0;
  .search__form-input {
    border: 1px solid #dee1e4;
    //margin-right: -7px;
    outline: none;
    box-sizing: border-box;
    background: #fbfbfb;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #7f7f7f;
    height: 35px;
    width: 288px;
    font: 14px "open_sanslight", sans-serif;
    padding: 10px 17px 10px;
    display: inline-block;
    vertical-align: top;
  }
  .search__form-submit {
    background: $orange;
    margin-left: -1px;
    box-sizing: border-box;
    color: #fff;
    border: none;
    background: #ff6d30;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font: 16px "open_sanssemibold", sans-serif;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 79px;
  }
}
