
.categories{
  margin-bottom: 38px;
  width: 333px;
}

.categories__list {
  padding: 0;
  margin: 0;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background: #fbfbfb;
}

.categories__item {
  list-style: none;
  border-bottom: 1px solid #dee1e4;

  &:last-child {
    border-bottom: none;
  }
  &:hover{
    background: #d9e5ea;
  }
}
.categories__item-active{
  color: #5d656c;
}
.categories__link {
  display: block;
  color: #7f7f7f;
  font: 14px "open_sanssemibold", sans-serif;
  padding: 12px 30px 13px 29px;
  text-decoration: none;
}
.accordeon{
  width: 333px;
  float: left;
  background: $color-white;
  margin-bottom: 31px;
  box-sizing: border-box;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
}
.accordion__trigger{
  color: $color-text;
  position: relative;
  padding: 12px 0 10px 27px;
  display: block;
  text-decoration: none;
  font: 16px 'open_sanssemibold', sans-serif;
}
  .st-arrow{
  text-shadow: 1px 1px 1px #fff;
  font-size: 16px;
  display: block;
  position: absolute;
  line-height: 100px;
  outline:none;
  -webkit-transition:  color 0.4s ease-in-out;
  -moz-transition:  color 0.4s ease-in-out;
  -o-transition:  color 0.4s ease-in-out;
  -ms-transition:  color 0.4s ease-in-out;
  transition:  color 0.4s ease-in-out;
}
$select-tr-map: sprite-map('icons/select-tr/*.png', $spacing: 70px);
.st-arrow{
  @include get-sprite($select-tr-map, to-bottom);
  text-indent:-9000px;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  opacity:0;
  -webkit-transition:  all 0.2s ease-in-out;
  -moz-transition:  all 0.2s ease-in-out;
  -o-transition:  all 0.2s ease-in-out;
  -ms-transition:  all 0.2s ease-in-out;
  transition:  all 0.2s ease-in-out;
}
  .menu-setup__item.active {

    .st-arrow {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
      right: -20px;
      opacity: 1;
    }

  }
.accordion__trigger:hover .st-arrow{
  opacity:1;
  right: 20px;
}
.list-radio {
  margin: 0;
  padding: 0;
}

.list-radio__item {
  list-style: none;
  padding: 7px 0 9px 26px;

  &:last-child{
    margin-bottom: 0;
  }
}
.list-radio__label {
  position: relative;
  padding-left: 9px;
  cursor: pointer;
  display: block;
}

.list-radio__input-radio--fake {
  border: 3px solid #dee1e4;
  width: 13px;
  height: 13px;
  @include border-radius(50%);
  position: relative;
  @include transition(border-color .3s);
  @include inlineblock();
  left: -10px;

  &:after {
    content: "";
    @include absolute-center;
    width: 0;
    height: 0;
    @include border-radius(50%);
    background: $orange;
    @include transition(.3s);
  }
}

.list-radio__input-radio--origin {
  position: absolute;
  top: 0;
  left: -9999px;

  &:checked + .list-radio__input-radio--fake {
    border-color: $orange;

    &:after {
      width: 9px;
      height: 9px;
    }
  }
}
.list-radio__item__title {
  display: inline-block;
  color: #333;
  font-size: 14px;
  @include open-sans(regular);
}
.list-check {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}
.list-check__item {
  list-style: none;
  padding: 7px 0 9px 28px;
  &:last-child{
    margin-bottom: 0;
  }
}
.list-check__label {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
}
.check__item-origin{
  position: absolute;
  top: 0;
  left:-9999px;
}
.list-check__input-check--fake {
  display: inline-block;
  position: absolute;
  left: 0;
}

.list-check__item__title {
  display: inline-block;
  color: #333;
  font: 14px "open_sanssemibold", sans-serif;
}
.menu-setup__item{
  border-bottom: 1px solid #dee1e4;
}
.menu-setup__list{
  width: 100%;
}
.menu-setup__list-presence{
  display: none;
  margin-bottom: 10px;
}

.menu-setup__list-presence {
  .check__item-origin {
    &:checked + .list-check__input-check--fake {
      background: $orange;

      &:after {
        opacity: 1;
      }
    }
  }

  .list-check__input-check--fake {
    width: 20px;
    height: 20px;
    @include border-radius(4px);
    background: $grey;
    @include transition(.2s);
    border: 0 none;

    &:after {
      content: "";
      display: block;
      @include absolute-center;
      opacity: 0;
      @include transition(.2s);
      @include get-sprite($misc-sprite, checkbox);
      @include border-radius(0);
      width: 13px !important;
      height: 10px !important;
    }
  }
}
.list-check__item{
  @extend .list-radio__item
}
.check__text {
  @extend .radio__text
}

.radio__text{
  position: absolute;
  left: 55px;
  top: 10px;
  font: 14px "open_sanssemibold", sans-serif;
}
.accordeon__reset-filter {
  color: #5db2fc;
  font: 14px "open_sanssemibold", sans-serif;
  text-decoration: underline;
  cursor: pointer;
  padding: 6px 0 6px 29px;
  display: block;
}
.filter__slider-displays {
  @include clearfix;
  margin-bottom: 18px;
  padding: 0 25px 0 25px;
}

.filter__slider-left {
  float: left;
  width: 50%;
  @include open-sans(semibold);
  .filter__slider-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3px;
  }
  .filter__slider-input {
    padding: 6px 8px;
    width: 83px;
    margin-left: 12px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
  }
}

.filter__slider-right {
  float: right;
  width: 50%;
  text-align: center;
  @include open-sans(semibold);
  .filter__slider-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
  }
  .filter__slider-input {
    padding: 6px 8px;
    width: 83px;
    margin-left: 10px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
  }
}

.filter__slider-input {
  @extend .search__form-input;
  @include inlineblock(middle);
}

.ui-slider-horizontal {
  height: 3px;
  background: $grey;
  @include border-radius(0);
  border: 0 none;
  margin-bottom: 32px;
  width: 288px;
  margin-left: 25px;

  * {
    outline: none !important;
  }

  .ui-slider-range {
    background: $orange;
    width: 228px;
  }

  .ui-slider-handle {
    @include get-sprite($misc-sprite, slider-control);
    top: 0;
    border: 0 none;
    @include border-radius(0);
    margin-left: -4px;
    cursor: pointer;
  }
}
.colors{
  padding-right: 55px;
  padding-left: 10px;
  padding-top: 2px;
  margin-bottom: -10px
}
.list-colors {
  //padding: 0;
  //margin-left: -22px;
  //font-size: 0;
  //padding-right: 60px;
}

.list-colors__item {
  display: inline-block;
  list-style: none;
  margin: 0px 0 17px 18px;
}
$colors: "red", "gray", "blue", "white", "orange", "yellow", "green", "brown", "dark-blue", "black", "pink", "gold";

@each $color in $colors {
  .list-colors__link-#{$color} {
    border: 1px solid #dee1e4;
    display: block;
    width: 35px;
    height: 35px;
    //padding-top: 3px;
    cursor: pointer;
    background: #{$color};
  }
}
.list-colors__link:hover {
  box-shadow: 0 0 0 2px #ff6600;
}

