include _common/_mixins

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name='viewport' content='width=device-width')
        meta(name="keywords" content="")
        meta(name="author" content="Иванов Сергей")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        //bower:css
        link(href="css/plugins/normalize.css" rel="stylesheet")
        // endbower
        link(rel="stylesheet" type='text/css' href="/fonts/stylesheet.css")
        link(rel="stylesheet" type='text/css' href="/css/main.css")

        title
            block title
    body

        .wrapper
            .maincontent
                include _common/_header
                include _common/_nav
                include _common/_breadcrumbs
                block content

        include _common/_footer
        //- inject:vendorNotBower.js
        // bower:js
    //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src="scripts/vendors/jquery-1.11.3.min.js")
    script(src='scripts/plugins.min.js')
    script(src='scripts/main.min.js')
        // endbower
        //- endinject