.products__list_lines {
  margin-bottom: 69px;
  border: 0 none;
  .products__slideshow{
    width: 114px;
    }
  .products__slideshow-block {
    display: none;
  }

  .products__item-inner {
    padding: 10px 12px;
    background: #ffffff;
    border: 1px solid $grey;
    @include border-radius(3px);
  }
  .products__article {
    text-align: left;
    margin: 0;
  }
  .products__desc {
    width: 264px;
    margin: 0;
  }

  .products__left {
    width: 390px;
    padding-top: 7px;
  }

  .products__desc-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: 0px;
  }

  .products__desc-options {
    display: none;
  }
  .description-product__rating {
    display: none;
  }
  .description-product__rating__value{
    display: none;
  }

  .products__rating {
    display: none;
  }

  .products__right {
    float: right;
    position: static;
    width: auto;
    border: 0 none;
  }

  .products__info {
    border: 0 none;
    padding-left: 0;
    @include inlineblock(middle);
    padding-right: 19px;
  }

  .products__info-bottom {
    position: static;
    @include inlineblock(middle);
  }

  .products__buy-btn {
    float: right;
    margin-bottom: 0;
  }

  .products__availability {
    float: left;
    padding-top: 15px;
    padding-right: 21px;
    line-height: 6px;
  }
}